* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f0f;
  color: #2a2a2a;
}

.navbar {
  padding: 10px 40px;
  border: 1px solid #444;
  margin: 15px;
  border-radius: 100px;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-left span {
  color: #ccc;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #777;
  padding: 6px 18px;
  border-radius: 20px;
}

.nav-left span:first-child {
  background-color: #323025;
  padding: 6px 40px;
  border: none;
}

.nav-left span.active {
  background: #e6ddcc;
  color: #000;
  border: none;
}

.nav-right {
  border: 1px solid #777;
  padding: 6px 18px;
  border-radius: 20px;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 0fr 1fr;
  gap: 24px;
  padding: 40px;
  height: 100vh;
}

.card {
  background: #e6ddcc;
  border-radius: 28px;
  padding: 24px;
  transition: transform 0.25s ease;
}

.tag {
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.5px;
  border: 1px solid #2d2d2d;
  padding: 4px 12px;
  border-radius: 50px;
  margin-bottom: 12px;
  width: fit-content;
  text-transform: uppercase;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-wide {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 24px;
  padding: 24px;
}

.card-wide img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 18px;
}
.card-wide img:hover {
  transform: scale(1.07);
  transition: transform 0.25s ease-in-out;
}
.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card-brown {
  background: #9a6b52;
  color: #fff;
}

.card-brown p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}

.btn-cont {
  width: 100%;
  background: transparent;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.btn {
  background: transparent;
  border: none;
  padding: 18px 22px;
  font-size: 15px;
  letter-spacing: 0.2px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  text-decoration: underline;
  color: black;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.85;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }

  .card-wide {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .card-row {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding: 20px;
  }

  .container {
    padding: 20px;
  }
}
